.button {
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.5 ease;
}

.addButton {
    font-size: 1rem;
    background-color:#74e27d;
    color: white;
}

.addButton:hover {
    background-color: #45b749;
}

.deleteButton {
    background-color: #ff6b6b;
    padding: 8px 12px;
    margin-left: 10px;
    font-size: 1rem;
    color: #fcf7f7;
}

.deleteButton:hover {
    background-color: #cc4242;
    color: #fcf7f7d2;
}

.input{
    font-size: 1rem;
    padding: 1em;
    border: 2px solid #a7a7a7;
    border-radius: 5px;
}

.ordinaryList {
    padding: 0;
}

.ordinaryList li {
    font-size: 1rem;
    font-weight: bold;
    padding: 15px;
    background-color: #fcf7f7;
    margin-bottom: 1rem;
    border: 3px solid #ccc;
    display: flex;
    align-items: center;
}

.textList {
    flex: 1;
}

.moveUp {
    padding: 8px 12px;
    margin-left: 10px;
    font-size: 1rem;
    background-color: #aaaaaa;
    color: #fcf7f7;
}

.moveUp:hover {
    background-color: #808080;
    color: #fcf7f7d2;
}

.moveDown {
    padding: 8px 12px;
    margin-left: 10px;
    font-size: 1rem;
    background-color: #aaaaaa;
    color: #fcf7f7;
}

.moveDown:hover {
    background-color: #808080;
    color: #fcf7f7d2;
}

.check {
    background-color:#74e27d;
    padding: 8px 12px;
    margin-left: 10px;
    font-size: 1rem;
    color: #fcf7f7;
}

.check:hover {
    background-color: #45b749;
    color: #fcf7f7d2;
}

.doneItem {
    list-style-type: none;
    padding: 0;
    text-decoration: line-through;
    color: rgb(48, 48, 48);
}

.undoButton {
    padding: 8px 12px;
    margin-left: 10px;
    font-size: 1rem;
    background-color: #f0ad4e;
    color: #fcf7f7;
}

.importantButton {
    padding: 8px 12px;
    margin-left: 10px;
    font-size: 1rem;
    font-weight: bold;
    color: #f39c12;
    transition: color 0.3s ease, transform 0.3s ease;

    svg {
        fill: currentColor;
        transition: fill 0.3s ease;
    }
}